/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color:bisque;
}

.cabecalho {
    background-color:  black;
    text-align: center;
}

.p_filho1 {
    font-size: 32px;
    color: bisque;
    font-style: bold;
}

.p_filho2 {
    color: green;
}

.conteudo {
    background-color: darkslategrey;
    color: bisque;
}

.conteudo p {
    color: #E4005A;
    font-size: 42px;
}
.p_filho3 {
    color: purple;
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        background-color: #ADD8E6;
    }
}